ipykernel
requests
beautifulsoup4
sqlalchemy
webdriver_manager
beautifulsoup4==4.12.0
requests==2.31.0

python-dotenv
tiktoken
langchain-astradb
langchain

flask
openai==1.26.0  


jq
langchain_community
openai
langchain
langchain-community
langchain-openai
langchain-core
Jinja2
jinja2-time
flask
pep8
python-dateutil
python-docx
python-editor
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
pytz
PyPDF2
faiss-cpu
pypdf
python-dotenv
Flask
python-dotenv

